<!--
  ~   Copyright 2019 API Fortress
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~   @author Simone Pezzano
  ~
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/afthem.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>afthem.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{ISO8601}	 [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GENERIC_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>log/generic.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date{ISO8601}	 [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="METRICS_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>log/metrics.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date{ISO8601}	 [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>log/access.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date{ISO8601} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="UPSTREAM_LOGGER" class="ch.qos.logback.core.FileAppender">
        <file>log/upstream.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date{ISO8601} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.springframework.web" level="INFO">
        <appender-ref ref="FILE_DEFAULT" />
    </logger>
    <logger name="com.apifortress" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_DEFAULT"/>
    </logger>
    <logger name="ch.qos.logback" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="Access-Inbound" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOGGER" />
    </logger>
    <logger name="Upstream" level="INFO" additivity="false">
        <appender-ref ref="UPSTREAM_LOGGER" />
    </logger>
    <logger name="Generic" level="INFO" additivity="false">
        <appender-ref ref="GENERIC_LOGGER"/>
    </logger>
    <logger name="_metrics" level="DEBUG" additivity="false">
        <appender-ref ref="METRICS_LOGGER" />
    </logger>
</configuration>